@import '../../styles/variables.scss';

.display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  width: 60vw;
  height: 45vh;
  color: $text-color-primary;
  background: $display-background;
  box-shadow: $display-shadow;

  &_question {
    font-size: 2rem;
    font-weight: 800;
    text-shadow: $display-text-shadow;
    animation: slide 500ms ease-in;
  }
  &_correct {
    color: $display-color-correct;
    font-size: 4rem;
    font-weight: 800;
    text-shadow: $display-text-shadow;
    animation: slide 500ms ease-in;
  }
  &_wrong {
    color: $display-color-wrong;
    font-size: 4rem;
    font-weight: 800;
    text-shadow: $display-text-shadow;
    animation: slide 500ms ease-in;
  }
}
