@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.display {
  //display
  @include default-flex;

  //sizing
  width: 60vw;
  height: 45vh;

  //margins & paddings
  padding: 0 1.5rem;

  //backgrounds
  background: $display-background;

  //shadows
  box-shadow: $display-shadow;

  //colors
  color: $text-color-primary;

  &_question {
    @include display-text;
  }
  &_correct {
    @include display-text;
    color: $display-color-correct;
    font-size: 4rem;
  }
  &_wrong {
    @include display-text;
    color: $display-color-wrong;
    font-size: 4rem;
  }
}
