@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.theme_button {
  @include button;
  //sizing
  min-width: 200px;

  //margins and paddings
  margin-top: 1rem;

  //typo
  font-weight: 300;
  font-size: 2rem;

  //colors
  color: $text-color-alert;

  //borders
  border-radius: 0.8rem;

  &:hover {
    @include button;
    font-weight: 300;
    box-shadow: 0 0 8px 3px $button-shadow-color;
    color: $text-color-pink;
  }
}
