@import '../../styles/variables.scss';

.lives {
  padding: 0 1rem;
  margin: 0;
  margin-right: 10px;
  background: $button-gradient;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1.5rem;
  width: 160px;
}
.heart {
  color: rgb(197, 12, 12);
  font-size: 2rem;
  margin: 0 5px;
}
