@import '../../styles/variables.scss';

.lives {
  //display
  justify-content: flex-start;
  align-items: center;

  //sizing
  width: 160px;

  //margins and paddings
  padding: 0 1rem;
  margin: 0;
  margin-right: 10px;

  //background
  background: $button-gradient;

  //borders
  border-radius: 1.5rem;
}

.heart {
  color: $heart-color;
  font-size: 2rem;
  margin: 0 5px;
}
