@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.top_bar {
  max-width: 80vw;
  margin: 0 auto;
  margin-bottom: 1rem;
  justify-content: space-between;
  button {
    @include button;
    letter-spacing: initial;
    margin-right: 10px;
    &:active {
      transform: scale(0.95);
    }
    &:hover {
      color: $text-color-pink;
      box-shadow: 0 0 5px 1px $text-color-pink;
    }
  }
}
