@import './variables.scss';

@mixin button {
  letter-spacing: 2px;
  font-weight: 800;
  background: #ffefba;
  background: $button-gradient;
  border: none;
  border-radius: 50px;
  padding: 0.5rem 2rem;
  color: $text-color-button;
}

@mixin alert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  max-width: max-content;
  padding: 1rem 1.5rem;
  margin-top: 1rem;
  border-radius: 2rem;
  background: $button-gradient;
  color: $text-color-alert;
  font-size: 1rem;
  transition: opacity 200ms;
  p {
    margin: 0;
    font-weight: 800;
  }
  button {
    background: $text-color-alert;
    border: none;
    color: white;
    font-weight: 800;
    border-radius: 50%;
    padding: 0 7px;
    margin-left: 10px;
  }
}

@mixin answer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin: 0 2px;
  margin-bottom: 4px;
  padding: 1rem;
  border: none;
  background: $answer-button-background;
  &_text {
    color: $text-color-button;
    margin: 0;
    font-weight: 800;
  }
  &:hover &_text {
    color: $text-color-pink;
  }
  &:active {
    transform: scale(0.95);
  }
}
