@import '~reset-css/sass/reset';
@import '~bootstrap/scss/bootstrap';
@import './variables.scss';

body {
  width: 100%;
}

.wrapper {
  //position
  position: relative;
  top: 0;
  left: 0;

  //sizing
  width: 100%;
  min-height: 100vh;

  //margins and apaddings
  margin: 0;
  padding: 0;

  //typo
  font-family: $font-main;

  //background
  background: $backgroun-gradient;
}

.alerts-enter,
.themes-enter,
.icons-enter {
  opacity: 0;
}
.alerts-enter-active,
.themes-enter-active,
.icons-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.alerts-exit,
.themes-exit,
.icons-exit {
  opacity: 1;
}
.alerts-exit-active,
.themes-exit-active,
.icons-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.modals-enter {
  opacity: 0;
  z-index: -1;
}
.modals-enter-active {
  opacity: 1;
  z-index: 1000;
  transition: opacity 500ms ease-in;
}
.modals-exit {
  opacity: 1;
  z-index: 1000;
}
.modals-exit-active {
  opacity: 0;
  z-index: -1;
  transition: opacity 500ms ease-in;
}
