@import '../assets/fonts/fonts.scss';

$font-main: 'Gilroy', sans-serif;

$backgroun-gradient: linear-gradient(
  50deg,
  rgb(207, 42, 196) 0%,
  rgba(205, 1, 193, 1) 30%,
  rgba(205, 1, 193, 1) 80%,
  rgb(207, 42, 196) 100%
);

$button-gradient: linear-gradient(to right, #fafbff, #ffffff);
$button-shadow-color: rgba(243, 55, 212, 0.5);

$text-color-pink: rgb(243, 55, 212);
$text-color-primary: rgb(247, 209, 129);
$text-color-button: purple;
$text-color-alert: rgb(77, 77, 255);

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
