@import '../assets/fonts/fonts.scss';

//fonts

$font-main: 'Gilroy', sans-serif;

//backgrounds

$backgroun-gradient: linear-gradient(
  50deg,
  rgb(207, 42, 196) 0%,
  rgba(205, 1, 193, 1) 30%,
  rgba(205, 1, 193, 1) 80%,
  rgb(207, 42, 196) 100%
);
$button-gradient: linear-gradient(to right, #fafbff, #ffffff);
$answer-button-background: rgb(255, 224, 253);
$display-background: rgb(70, 2, 133);
$modal-overlay-background: rgba(0, 0, 0, 0.5);
$modal-secondary-button-background: rgb(175, 146, 175);

//shadows

$display-shadow: inset 0 0 8px 3px rgba(0, 0, 0, 0.5);
$display-text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
$input-form-button-hover-shadow: 0 0 5px 1px rgba(255, 102, 222, 0.5);

//colors

$text-color-pink: rgb(243, 55, 212);
$text-color-primary: rgb(247, 209, 129);
$text-color-button: rgb(128, 0, 128);
$text-color-alert: rgb(77, 77, 255);
$color-white: white;
$color-green: rgb(0, 163, 22);
$button-shadow-color: rgba(243, 55, 212, 0.5);
$display-color-wrong: rgb(196, 4, 4);
$display-color-correct: rgb(151, 224, 40);
$input-form-button-hover-color: rgb(248, 61, 208);
$heart-color: rgb(197, 12, 12);
$score-color: rgb(96, 221, 96);
$prize-color: rgb(219, 143, 1);

//animations

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
