@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.player {
  //position
  position: absolute;
  top: 40%;

  //sizing
  min-height: 30%;

  //display
  display: flex;
  flex-direction: column;
  align-items: center;

  //margins and paddings
  margin: 0;
  padding: 0;

  //transitions, animations, transform
  transform: translateY(-60%);
  animation: fade 500ms ease-in;

  &_title {
    color: $color-white;

    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
      font-size: 1.5rem;
    }
  }
}
