@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.input {
  form {
    @include default-flex;

    input {
      //margins and paddings
      padding: 5px 0;

      //typo
      font-weight: 800;
      text-align: center;
      letter-spacing: 2px;
      //background
      background-color: inherit;

      //borders
      border: 3px solid $text-color-primary;

      //colors
      caret-color: $text-color-primary;
      color: $text-color-primary;

      &:focus {
        outline: none;
      }
      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
        max-width: 50%;
      }
    }

    button {
      //sizing
      height: 100%;

      //margins and paddings
      margin: 0 5px;
      padding-left: 20px;
      padding-right: 20px;

      //typo
      font-weight: 800;
      letter-spacing: 3px;

      //background
      background-color: $text-color-primary;

      //borders
      border: none;

      //colors
      color: $text-color-button;

      &:hover {
        color: $input-form-button-hover-color;
        box-shadow: $input-form-button-hover-shadow;
      }

      &:active {
        transform: scale(0.9);
      }

      @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
        font-size: 0.8rem;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
