@import '../../styles/variables.scss';

.input {
  input {
    background-color: inherit;
    border: 3px solid $text-color-primary;
    caret-color: $text-color-primary;
    color: $text-color-primary;
    font-weight: 800;
    text-align: center;
    padding: 5px 0;
    letter-spacing: 2px;
    &:focus {
      outline: none;
    }
  }
  button {
    border: none;
    background-color: $text-color-primary;
    color: $text-color-button;
    font-weight: 800;
    letter-spacing: 3px;
    margin: 0 5px;
    padding: 0 20px;

    &:hover {
      color: rgb(248, 61, 208);
      box-shadow: 0 0 5px 1px rgba(255, 102, 222, 0.5);
    }
    &:active {
      transform: scale(0.9);
    }
  }
}
