@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.modal {
  &_overlay {
    //display
    @include default-flex;

    //position
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    //background
    background: $modal-overlay-background;
  }

  &_window {
    max-width: 50vw;
    padding: 1.5rem;
    background: $button-gradient;
    border-radius: 1.5rem;
  }
  &_text {
    color: $text-color-alert;
    font-size: 1.5rem;
  }
  &_footer {
    margin: 0;
    justify-content: flex-end;

    button {
      @include button;
      font-size: 1.3rem;
      color: $color-white;
      margin-right: 1rem;
      background: $modal-secondary-button-background;
      transition: transform 200ms ease;
      &:first-of-type {
        background: $text-color-alert;
      }
      &:hover {
        transform: scale(1.08);
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
}
