@import '../../styles/variables.scss';

.game {
  text-align: center;
  padding: 1rem;
}

.score {
  color: $score-color;
}

.prize {
  color: $prize-color;
}

.scores {
  max-width: 80vw;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
