.game {
  text-align: center;
  padding: 1rem;
}
.score {
  color: lightgreen;
}
.prize {
  color: orange;
}
.scores {
  max-width: 80vw;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
