@import '../../styles/variables.scss';

.skips {
  padding: 0 1rem;
  margin: 0;
  background: $button-gradient;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1.5rem;
  width: 160px;
}
.skip {
  color: $text-color-alert;
  font-size: 2rem;
  margin: 0 5px;
}
