@import '../../styles/variables.scss';

.skips {
  //display
  justify-content: flex-start;
  align-items: center;

  //sizing
  width: 160px;

  //margins and paddings
  padding: 0 1rem;
  margin: 0;

  //background
  background: $button-gradient;

  //borders
  border-radius: 1.5rem;
}
.skip {
  color: $text-color-alert;
  font-size: 2rem;
  margin: 0 5px;

  path {
    stroke: $text-color-alert;
  }
}
